.activeNav {
    color: var(--chakra-colors-gray-900) !important;   
    border-bottom-color: var(--chakra-colors-gray-900) !important;
}
.nav {
    color: var(--chakra-colors-gray-600);   
    padding: var(--chakra-space-2) var(--chakra-space-4);   
    border-bottom: 2px solid transparent;
    font-size: 16px;
}